<mtr-container [fullWidth]="true" [expandWithHeader]="true">
  <mtr-side-menu>
    <mtr-side-menu-item-list title="Projects" dark>
      <mtr-side-menu-item *ngFor="let project of projects" [routerLink]="'/projects/' + project.path"
        routerLinkActive="mtr-side-menu-item--active" [routerLinkActiveOptions]="{exact: true}">
        {{ project.name }}
      </mtr-side-menu-item>
    </mtr-side-menu-item-list>

    <mtr-side-menu-content>
      <mtr-container [center]="false" [expandHeight]="true">
        <main>
          <router-outlet></router-outlet>
        </main>
      </mtr-container>
    </mtr-side-menu-content>

  </mtr-side-menu>
</mtr-container>
