.project {
  max-width: 1024px;

  &__banner {
    background-size: cover;
    background-position: center;
    height: 384px;
    width: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  &__content {
    h2 {
      margin-top: 40px;
    }
    ::ng-deep .block-img img {
      margin: auto;
      max-height: 350px;
      image-rendering: -webkit-optimize-contrast;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
  }

  &__media {
    display: flex;
    flex-direction: row;
    overflow-x: auto;

    &--slide {
      flex: 0 0 auto;
      padding-right: var(--spacing-l);

      img {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        max-height: 512px;
        height: 100%;
      }
    }
  }
}
