@import "../style/variables";

:host {
  display: block;
  position: relative;

  width: 100%;
  max-width: 1280px;
}

:host.mtr-container {
  &--expand-height {
    height: 100%;
  }

  &--expand-with-header {
    height: calc(100% - 64px);
  }

  &--full-width {
    max-width: 100%;
  }

  &--center {
    margin: auto;
  }
}
