<mtr-banner dark class="p--none">
  <mtr-container class="cc-footer py--l px--xl">

    <div class="cc-footer__spacer">
      CodeComet &copy;
    </div>

    <div class="cc-footer__copyright text--center">
    </div>

    <div class="cc-footer__social">
      <a href="https://github.com/freekmencke/" target="_blank">
        <img src="assets/social/github.svg">
      </a>
      <a href="https://medium.com/@freek_mencke" target="_blank">
        <img src="assets/social/medium.svg">
      </a>
      <a href="https://twitter.com/FreekMencke" target="_blank">
        <img src="assets/social/twitter.svg">
      </a>
      <a href="https://www.linkedin.com/in/freekmencke/" target="_blank">
        <img src="assets/social/linkedin.svg">
      </a>
    </div>
  </mtr-container>
</mtr-banner>
