/*
 * Spacing
 */
$spacing-xxs: 2px;
$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 24px;
$spacing-xl: 32px;
$spacing-xxl: 48px;

$spacings: (
  xxs: 2px,
  xs: 4px,
  s: 8px,
  m: 16px,
  l: 24px,
  xl: 32px,
  xxl: 48px
);
