<mtr-banner dark>
  <mtr-container>
    <img class="logo p--xl" src="assets/logo-dark.svg" />
    <h1 class="mt--xxl text--center">Software that's out of this world.</h1>
  </mtr-container>
</mtr-banner>

<mtr-container [expandHeight]="false">
  <main class="px--l py--xl">
    <div class="my--xl">
      <h1 class="text--center">Projects</h1>

      <div class="cc-project-cards mb--xxl">
        <mtr-card class="mt--xl" *ngFor="let project of projects">
          <div card--banner [style.backgroundImage]="'url('+project.imageSrc+')'"></div>
          <div card--content>
            <h2 class="mtr-text--bold">
              {{ project.title }}
              <div class="mtr-subtitle">{{ project.subtitle }}</div>
            </h2>
            <div [innerHTML]="project.text"></div>
          </div>
          <div card--actions>
            <mtr-btn flat *ngFor="let action of project.actions" (click)="action.actionFn()">{{ action.name }}</mtr-btn>
          </div>
        </mtr-card>
      </div>

      <div class="text--center">
        <mtr-btn routerLink="/projects" outline>More projects</mtr-btn>
      </div>
    </div>

  </main>
</mtr-container>
