@import "../style/variables";
@import "../style/mixins";

@mixin itemColors($color, $contrast) {
  --side-menu-item-color: #{$color};
  --side-menu-item-color-contrast: #{$contrast};
}

:host {
  @include itemColors(chooseLightColor($dark), chooseContrastColor($dark));

  display: block;
  width: 300px;
  height: 100%;
  overflow-y: auto;

  background-color: var(--side-menu-item-color);
  color: var(--side-menu-item-color-contrast);

  transition: none;
  -moz-transition: all 300ms; // https://caniuse.com/#feat=mdn-css_properties_grid-template-columns_animation
}

@each $name, $value in $colors {
  :host.#{"" + $name},
  :host[#{"" + $name}] {
    @include itemColors(chooseLightColor($value), chooseContrastColor($value));
  }
}

.mtr-side-menu--closed :host {
  transform: translate3d(-250px, 0, 0);
}

.mtr-side-menu__toggle {
  float: right;
  padding: 0;
  font-size: 25px;
  width: 50px;
  height: 50px;
  &::ng-deep button {
    padding: 8px 0;
  }
}

.mtr-side-menu__title {
  padding: $spacing-m;
  margin: 0;
  color: var(--side-menu-item-color-contrast);
}
