@import "../style/variables";
@import "../style/mixins";

:host {
  display: inline-block;
}

@mixin buttonColors($fg, $bg, $light, $lighter) {
  --button-color-foreground: #{$fg};
  --button-color-background: #{$bg};
  --button-color-light: #{$light};
  --button-color-lighter: #{$lighter};
}

button {
  @include buttonColors(
    chooseFgColor($primary),
    $primary,
    chooseHoverColor($primary),
    chooseActiveColor($primary)
  );

  background-color: var(--button-color-background);
  border: 1px solid var(--button-color-background);
  color: var(--button-color-foreground);
  letter-spacing: 1px;
  outline: none;
  padding: $spacing-s $spacing-m;
  text-transform: uppercase;

  &:hover {
    background-color: var(--button-color-light);
    border-color: var(--button-color-light);
  }
  &:active {
    background-color: var(--button-color-lighter);
    border-color: var(--button-color-lighter);
  }
}

@each $name, $value in $colors {
  :host.#{"" + $name} button,
  :host[#{""+$name}] button {
    @include buttonColors(
      chooseFgColor($value),
      $value,
      chooseHoverColor($value),
      chooseActiveColor($value)
    );
  }
}

:host.outline button,
:host[outline] button {
  background-color: transparent;

  --button-color-background: var(--button-color-light);
  color: var(--button-color-background);

  &:hover {
    background-color: var(--button-color-light);
    color: var(--button-color-foreground);
  }
  &:active {
    background-color: var(--button-color-lighter);
    color: var(--button-color-foreground);
  }
}

:host.flat button,
:host[flat] button {
  background-color: transparent;
  border-color: transparent;

  color: var(--button-color-light);

  &:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }
  &:active {
    background-color: rgba(0, 0, 0, 0.16);
  }
}
