<section>
  <h2>Buttons</h2>

  <h3>Default</h3>

  <div class="bg-contrast">
    <mtr-btn>
      LEARN MORE
    </mtr-btn>
    <mtr-btn secondary>
      LEARN MORE
    </mtr-btn>
    <mtr-btn tertiary>
      LEARN MORE
    </mtr-btn>
    <mtr-btn dark>
      LEARN MORE
    </mtr-btn>
    <mtr-btn light>
      LEARN MORE
    </mtr-btn>
    <mtr-btn black>
      LEARN MORE
    </mtr-btn>
    <mtr-btn white>
      LEARN MORE
    </mtr-btn>
  </div>

  <h3>Outline</h3>

  <div class="bg-contrast">
    <mtr-btn outline>
      LEARN MORE
    </mtr-btn>
    <mtr-btn secondary outline>
      LEARN MORE
    </mtr-btn>
    <mtr-btn tertiary outline>
      LEARN MORE
    </mtr-btn>
    <mtr-btn dark outline>
      LEARN MORE
    </mtr-btn>
    <mtr-btn light outline>
      LEARN MORE
    </mtr-btn>
    <mtr-btn black outline>
      LEARN MORE
    </mtr-btn>
    <mtr-btn white outline>
      LEARN MORE
    </mtr-btn>
  </div>

  <h3>Flat</h3>

  <div class="bg-contrast">
    <mtr-btn flat>
      LEARN MORE
    </mtr-btn>
    <mtr-btn secondary flat>
      LEARN MORE
    </mtr-btn>
    <mtr-btn tertiary flat>
      LEARN MORE
    </mtr-btn>
    <mtr-btn dark flat>
      LEARN MORE
    </mtr-btn>
    <mtr-btn light flat>
      LEARN MORE
    </mtr-btn>
    <mtr-btn black flat>
      LEARN MORE
    </mtr-btn>
    <mtr-btn white flat>
      LEARN MORE
    </mtr-btn>
  </div>
</section>
