@import "meteor/src/style/global";

@import "prismjs/themes/prism-tomorrow";

pre {
  margin-top: $spacing-m !important;
  margin-bottom: $spacing-m !important;
}

.bg-contrast {
  background: repeating-linear-gradient(
    45deg,
    darken(#dde, 4%),
    darken(#dde, 4%) 10px,
    darken(#dde, 8%) 10px,
    darken(#dde, 8%) 20px
  );
  padding: $spacing-m;
  margin-bottom: $spacing-m;
}
