@import "./mixins";
@import "./variables";

.text--left {
  text-align: center;
}
.text--center {
  text-align: center;
}
.text--right {
  text-align: center;
}

a,
a:visited {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: chooseLightColor($primary);
    text-decoration: underline;
  }
  &:active {
    color: chooseLighterColor($primary);
  }
}
