$primary: #5c35af;
$secondary: #013f8c;
$tertiary: #096538;

$dark: #111111;
$light: #f7f7f7;

$black: #000000;
$white: #ffffff;

$colors: (
  primary: $primary,
  secondary: $secondary,
  tertiary: $tertiary,
  dark: $dark,
  light: $light,
  black: $black,
  white: $white,
);
