$primary: #28174d;
$secondary: #001c3f;
$tertiary: #022715;

$dark: #111111;
$light: #f7f7f7;

$black: #000000;
$white: #ffffff;

$colors: (
  primary: $primary,
  secondary: $secondary,
  tertiary: $tertiary,
  dark: $dark,
  light: $light,
  black: $black,
  white: $white
);
