$primary: #46248f;
$secondary: #083975;
$tertiary: #0c5c35;

$dark: #111111;
$light: #f7f7f7;

$black: #000000;
$white: #ffffff;

$colors: (
  primary: $primary,
  secondary: $secondary,
  tertiary: $tertiary,
  dark: $dark,
  light: $light,
  black: $black,
  white: $white,
);
